body {
    font-family:'Source Sans Pro';
    font-size: 20px;
}
.container {
    text-align: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}

#Delani {
     background: url(../backgrounds/h_img.jpg);
     background-size:cover ; 
     height: 650px;
     padding: 200px;

}
#mouse {
    padding: 100px;
}
#contactUs{
    background: url(../backgrounds/c_image.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    margin: 60px;
}
#services{
    background: url(../backgrounds/s_image.jpg);
    background-size: cover;
    height: 400px;
    color: white;
    padding: 100px;
    line-height: 40px;
    background-position: center;
}
#whatWeDo {
    margin-top: 50px;
    margin-bottom: 50px;
}
h1 {
    color: aliceblue;
    margin-top: 10px;
    text-align: center;
}
h2 {
    color: aliceblue;
    text-align: center;
    font-size: 20px;
  
}
h3 {
    font-weight: bolder;
}

h4 {
    font-weight: bolder;
    font-size: 20px;
}
.jumbotron {
    background-color: white;
    height: 300px;
    padding: 30px;
    line-height: 40px;
    text-overflow: ellipsis;
}
.port-img img{
    width: 90%;
}
.port-img{
    display: flex;
    justify-content: center;
    align-items: center;
} 
.port-img {
    padding: 10px;
}
.port-img .desc {
    position: absolute;
    top: 0;color: #000;
    display: flex;
    width: 100%; height:100%;
    font-size: xx-large; 
}
.port-img .desc p{
    border: 1px solid #fff;width: 80%;
    height: 80%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.63);
    justify-content: center; 
    align-items: center;
    display: flex;
    border-radius: 4px;
    
}
.row1 {
    margin-bottom: 50px;
}
#inputName{
    background: transparent;
    border: solid white;
    border-width: 0.5px;
}
#inputEmail{
    background: transparent;
    border: solid white;
    border-width: 0.5px; 
}
#textMessage {
    background: transparent;
    border: solid white;
    border-width: 0.5px; 
}
 #design {
    display: none;
}
#development {
    display: none;
}
#product {
    display: none;
}
.form-row {
    justify-content: center;
}
.transparent ::placeholder   {
    color:white;
    opacity: 1;
}
.img1 :hover {
    opacity: 1;
}
.icon {
    margin-top: 5px;
    padding: 20px;
}
.icons p {
    margin-top: 20px;
}
/*#work1 {
    display: none;
    color: black;
    background: white;
    text-align: center;
    justify-content: center;
    margin: 100px;
    transform: scale(1.2);
    position: absolute;
    transform: translateY(-50%);*/

.img1 {
    overflow: hidden;
    transform: scaleY();
    transition: transform 2s;

}
/*.img1:hover {
    transform: scaleY(1.2);

}*/
#work1 {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: white;
    transform: translateY();
    text-align: center;
    transform: scaleY(1);
    display: none;
}
#myPopup {
    display: none;
}
@media only screen and (max-width: 768px) {
    body {
        width: 100%;
        display: grid;
        font-size: 20px;
    }
    #whatWeDo {
        display: grid;
        
    }
}

@media only screen and (max-width: 768px) {
.container #aboutUs .jumbotron {
        height: 400px;
        margin-top: 100px;
    }
}