body {
    font-family:'Source Sans Pro';
    font-size: 20px;
}
.container {
    text-align: center;
}
#Delani {
     background: url(../backgrounds/h_img.jpg);
     background-size:cover ; 
     height: 650px;
     padding: 200px;

}
#mouse {
    padding: 100px;
}
#contactUs{
    background: url(../backgrounds/c_image.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    margin: 50px;
}
#services{
    background: url(../backgrounds/s_image.jpg);
    background-size: cover;
    height: 400px;
    color: white;
    padding: 100px;
    line-height: 40px;
    background-position: center;
}
#whatWeDo {
    margin-top: 50px;
    margin-bottom: 50px;
}
h1 {
    color: aliceblue;
    margin-top: 10px;
    text-align: center;
}
h2 {
    color: aliceblue;
    text-align: center;
    font-size: 20px;
  
}
h3 {
    font-weight: bolder;
}


.jumbotron {
    background-color: white;
    height: 300px;
    padding: 30px;
    line-height: 40px;
    text-overflow: ellipsis;
}

.img1{
border: solid white;
background-image: url(../portfolio/work4.jpg);
background-size: contain;
height: 200px;
width: 150px;
background-repeat: no-repeat;

}

.img2{
    border: solid white;
    background-image: url(../portfolio/work3.jpg);
    background-size: contain;
    height: 200px;
    width: 150px;
    background-repeat: no-repeat;
 
    }  
.img3{
    border: solid white;
    background-image: url(../portfolio/work2.jpg);
    background-size: contain;
    height: 200px;
    width: 150px;
    background-repeat: no-repeat;
   
    }  

.img4 {
    border: solid white;
    background-image: url(../portfolio/work1.jpg);
    background-size: contain;
    height: 200px;
    width: 150px;
    background-repeat: no-repeat;
   
    }  

.img5{
    border: solid white;
    background-image: url(../portfolio/work5.jpg);
    background-size: contain;
    height: 200px;
    width: 150px;
    background-repeat: no-repeat;

    }  

.img6 {
    border: solid white;
    background-image: url(../portfolio/work6.jpg);
    background-size: contain;
    height: 200px;
    width: 150px;
    background-repeat: no-repeat;
    }  
.img7 {
    border: solid white;
    background-image: url(../portfolio/work7.jpg);
    background-size: contain;
    height: 200px;
    width: 150px;
    background-repeat: no-repeat;
}

.img8 {
    border: solid white;
    background-image: url(../portfolio/work8.jpg);
    background-size: contain;
    height: 200px;
    width: 150px;
    background-repeat: no-repeat;   
}



.row1 {
    margin-bottom: 50px;
}
#inputName{
    background: transparent;
    border: solid white;
    border-width: 0.5px;
}
#inputEmail{
    background: transparent;
    border: solid white;
    border-width: 0.5px; 
}
#textMessage {
    background: transparent;
    border: solid white;
    border-width: 0.5px; 
}
 #design {
    display: none;
}
#development {
    display: none;
}
#product {
    display: none;
}
.form-row {
    justify-content: center;
}
.transparent ::placeholder   {
    color:white;
    opacity: 1;
}
.img1 :hover {
    opacity: 1;
}
.icon {
    margin-top: 50px;
    padding: 20px;
}
.icons p {
    margin-top: 40px;
}
#work1 {
    display: none;
    color: black;
    background: white;
    text-align: center;
    justify-content: center;
    margin: 100px;
    position: absolute;


/*.img1 {
    overflow: hidden;
    transform: scaleY();
    transition: transform 2s;

}
/*.img1:hover {
    transform: scaleY(1.2);

}*/
/*#work1 {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: white;
    transform: translateY();
    text-align: center;
    transform: scaleY(1);
    display: none;*/
}