body {
    font-family:'Source Sans Pro';
    font-size: 10px;
}
.container {
    text-align: center;
}
#Delani {
     background: url(../backgrounds/h_img.jpg);
     background-size:cover ; 
     height: 650px;
     padding: 200px;

}
h1 {
    color: aliceblue;
    margin-top: 10px;
    text-align: center;
}
h2 {
    color: aliceblue;
    text-align: center;
    font-size: 10px;
}
#mouse {
    padding: 100px;
}
.jumbotron {
    background-color: white;
    height: 200px;
    padding: 30px;
}
#services{
    background: url(../backgrounds/c_image.jpg);
    background-size: cover;
    height: 250px;
    color: white;
    padding: 80px;
    line-height: 25px;
}
.img1{
border: solid white;
background-image: url(../portfolio/work4.jpg);
background-size: contain;
height: 300px;
background-repeat: no-repeat;
padding: 50px;
}

.img2{
    border: solid white;
    background-image: url(../portfolio/work3.jpg);
    background-size: contain;
    height: 300px;
    background-repeat: no-repeat;
    padding: 50px;
    }  
.img3{
    border: solid white;
    background-image: url(../portfolio/work2.jpg);
    background-size: contain;
    height: 300px;
    background-repeat: no-repeat;
    padding: 50px;
    }  

.img4 {
    border: solid white;
    background-image: url(../portfolio/work1.jpg);
    background-size: contain;
    height: 300px;
    background-repeat: no-repeat;
    padding: 80px;
    }  

.img5{
    border: solid white;
    background-image: url(../portfolio/work5.jpg);
    background-size: contain;
    height: 300px;
    background-repeat: no-repeat;
    padding: 80px;
    }  

.img6 {
    border: solid white;
    background-image: url(../portfolio/work6.jpg);
    background-size: contain;
    height: 300px;
    background-repeat: no-repeat;
    padding: 80px;
    }  
.img7 {
    border: solid white;
    background-image: url(../portfolio/work7.jpg);
    background-size: contain;
    height: 300px;
    background-repeat: no-repeat;
    padding: 80px;
    }  

.img8 {
    border: solid white;
    background-image: url(../portfolio/work8.jpg);
    background-size: contain;
    height: 300px;
    background-repeat: no-repeat;
    padding: 80px;
    
}


#contactUs{
    background: url(../backgrounds/s_image.jpg);
    background-size: cover;
    height: 650px;
}

